In [1]:
#======================

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import torch.nn.functional as F

In [62]:
defence = pd.read_csv("US-defence.csv" , index_col = 0)
defence

    Year  Lockheed Martin (Billion USD)  General Dynamics (Billion USD)
0   1994                           22.9                             3.2
1   1995                           22.8                             3.1
2   1996                           26.8                             3.1
3   1997                           28.0                             3.6
4   1998                           26.0                             7.4
5   1999                           25.0                             8.9
6   2000                           24.5                            10.4
7   2001                           24.0                            12.0
8   2002                           26.5                            13.7
9   2003                           31.8                            16.4
10  2004                           35.5                            19.2
11  2005                           37.7                            21.0
12  2006                           39.6                            24.1
13  2007                           41.9                            27.2
14  2008                           42.7                            29.3
15  2009                           45.2                            32.0
16  2010                           45.7                            32.5
17  2011                           46.5                            32.7
18  2012                           47.2                            31.5
19  2013                           45.3                            30.9
20  2014                           45.6                            30.8
21  2015                           46.1                            31.8
22  2016                           47.2                            30.6
23  2017                           50.0                            31.0
24  2018                           53.8                            36.2
25  2019                           59.8                            39.3
26  2020                           65.4                            38.0
27  2021                           67.1                            38.5
28  2022                           66.0                            39.4
29  2023                           67.6                            42.3

In [63]:
oil = pd.read_csv("oil_reserves_per_country.csv", index_col=0)
oil

         Country  Oil Reserves (Barrels)  Percentage of World Reserves
0      Venezuela            299953000000                       18.2000
1   Saudi Arabia            266578000000                       16.2000
2         Canada            170863000000                       10.4000
3           Iran            157530000000                        9.5000
4           Iraq            143069000000                        8.7000
..           ...                     ...                           ...
93        Jordan                 1000000                        0.0001
94      Barbados                 2315000                        0.0001
95        Taiwan                 2380000                        0.0001
96      Ethiopia                  428000                        0.0000
97       Morocco                  684000                        0.0000

[98 rows x 3 columns]

In [64]:
terror = pd.read_csv("terrorist-attacks.csv", index_col=0)
terror

           Entity  Year  Terrorist attacks
0     Afghanistan  1994                  9
1     Afghanistan  1995                  6
2     Afghanistan  1996                  4
3     Afghanistan  1997                  1
4     Afghanistan  1998                  1
...           ...   ...                ...
6015     Zimbabwe  2017                  3
6016     Zimbabwe  2018                  2
6017     Zimbabwe  2019                  2
6018     Zimbabwe  2020                  1
6019     Zimbabwe  2021                  0

[5245 rows x 3 columns]

In [65]:
terror_oil = pd.read_csv("terror_and_oil.csv", index_col = 0)
terror_oil

,Entity,Year,Terrorist attacks,Oil Reserves (Barrels),Percentage of World Reserves
0,Albania,1994,2,168332000,0.01
1,Albania,1995,0,168332000,0.01
2,Albania,1996,6,168332000,0.01
3,Albania,1997,41,168332000,0.01
4,Albania,1998,7,168332000,0.01
...,...,...,...,...,...
2615,Yemen,2017,531,3000000000,0.18
2616,Yemen,2018,498,3000000000,0.18
2617,Yemen,2019,795,3000000000,0.18
2618,Yemen,2020,474,3000000000,0.18
2619,Yemen,2021,290,3000000000,0.18

In [66]:
terror_oil_freedom = pd.read_csv("terror_oil_freedom.csv",  index_col = 0)
terror_oil_freedom

,Entity,Year,Terrorist attacks,Oil Reserves (Barrels),Percentage of World Reserves,Country,Government Integrity,Judicial Effectiveness,Trade Freedom,Property Rights
0,Albania,1994,2,168332000,0.01,Albania,36.6,50.0,82.6,56.8
1,Albania,1995,0,168332000,0.01,Albania,36.6,50.0,82.6,56.8
2,Albania,1996,6,168332000,0.01,Albania,36.6,50.0,82.6,56.8
3,Albania,1997,41,168332000,0.01,Albania,36.6,50.0,82.6,56.8
4,Albania,1998,7,168332000,0.01,Albania,36.6,50.0,82.6,56.8
...,...,...,...,...,...,...,...,...,...,...
2335,Vietnam,2017,2,4400000000,0.27,Vietnam,38.7,35.4,79.8,49.6
2336,Vietnam,2018,1,4400000000,0.27,Vietnam,38.7,35.4,79.8,49.6
2337,Vietnam,2019,0,4400000000,0.27,Vietnam,38.7,35.4,79.8,49.6
2338,Vietnam,2020,0,4400000000,0.27,Vietnam,38.7,35.4,79.8,49.6
2339,Vietnam,2021,0,4400000000,0.27,Vietnam,38.7,35.4,79.8,49.6